<div class='container'>

    <div class="row jumbotron">
        <h1>Alex's Burger Joint! No calories!</h1>
    </div>
    <br>
    <div class="row">
        <form class="create-form">
            <input id="burg" name="new-burger" class="form-control" type="text" placeholder="Add your burger"> </form>
            <br>
            <button class="btn btn-success" id="submit">SUBMIT</button>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 available">
            <h2>Available to devour: </h2>
            {{#each burgers}} {{#unless devoured}}
            <div>
                {{> burgers/burger-block devour=true}}
                <br><br>
            </div>
            {{!-- <button style="margin-bottom: 20px;" data-id="{{this.id}}" class="btn btn-danger updateBurger">Devour</button>
            --}} {{/unless}} {{/each}}
        </div>
        <div class="col-md-6 devoured">
            <h2>Already devoured: </h2>
            {{#each burgers}} {{#if devoured}}
            <div>
                {{> burgers/burger-block devour=false}}
                <br><br>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
</div>